.App{
  /* max-width: 100%; */
  background-color:#303030 !important;
  min-height: 150vh;

}
.container{
  width: 100%;
}
.bar{
  margin-bottom: 20px;
padding-bottom: 30px;
}
.picker{
  background-color: #fff !important;
}
.country_picker{
padding: 20px;
}
.picker{
  padding-left: 8px;
}
.graph{
  margin: 20px 0;
}